<?xml version="1.0"?>
<CXConfiguration>
  <CheckMarx_WebService_EndPoint>http://checkmarx.teammentor.net/CxWebInterface/CxWebService.asmx</CheckMarx_WebService_EndPoint>
  <TeamMentor_Vulnerabilities_Server_URL>http://checkmarx.teammentor.net/teamMentor</TeamMentor_Vulnerabilities_Server_URL>
</CXConfiguration>